*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#videos{
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
    height: 100vh;
}

.vid-player{
    background-color: black;
    width: 100%;
    object-fit: cover;
    height: 100%;
}

#user-2{
    display: none;
}

.windowFrame{
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 3px;
    border: 2px solid slateblue;
    height: 180px;
    width: 300px;
}

#media-controls{
    position:  fixed;
    bottom: 20px;
    left: 50%;
    transform:translateX(-50%);
    display: flex;
    gap: 1em;
}

.control{
    background-color: rgb(14, 212, 7, 0.9);
    padding: 15px;
    border-radius:  50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.control img{
    height: 30px;
    width: 30px;
}

@media screen and (max-width:600px){
    .windowFrame{
        height: 70px;
        width: 120px;
    }

    .control img{
        height: 20px;
        width: 20px;
    }
}

#leave-btn{
    background-color: rgb(226, 65, 65);
}